.a-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    display: none;
  }

  &-inherit {
    background-size: inherit;
  }

  &-initial {
    background-size: initial;
  }

  &-contain {
    background-size: contain;
  }

  &-1x1 {
    @include aspect-ratio();
  }

  &-4x3 {
    @include aspect-ratio(4, 3);
  }

  &-16x9 {
    @include aspect-ratio(16, 9);
  }

  &-644x323 {
    @include aspect-ratio(644, 323);
  }

  &-450x248 {
    @include aspect-ratio(450, 248);
  }

  &-logo-novaworld {
    @include aspect-ratio(150, 38);
  }

  &-1366x768 {
    @include aspect-ratio(1366, 768);
  }

  &-546x618 {
    @include aspect-ratio(546, 618);
  }

  &-257x125 {
    @include aspect-ratio(257, 125);
  }
  
  &-126x30 {
    @include aspect-ratio(126, 30);
  }

  &-762x470 {
    @include aspect-ratio(762, 470);
  }
  
  &-115x72 {
    @include aspect-ratio(115, 72);
  }
  
  &-551x335 {
    @include aspect-ratio(551, 335);
  }
}
