.a-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    display: none;
  }

  &-inherit {
    background-size: inherit;
  }

  &-initial {
    background-size: initial;
  }

  &-contain {
    background-size: contain;
  }

  &-1x1 {
    @include aspect-ratio();
  }

  &-4x3 {
    @include aspect-ratio(4, 3);
  }

  &-16x9 {
    @include aspect-ratio(16, 9);
  }

  &-644x323 {
    @include aspect-ratio(644, 323);
  }

  &-450x248 {
    @include aspect-ratio(450, 248);
  }

  &-logo-novaworld {
    @include aspect-ratio(150, 38);
  }

  &-1366x768 {
    @include aspect-ratio(1366, 768);
  }

  &-546x618 {
    @include aspect-ratio(546, 618);
  }

  &-547x365 {
    @include aspect-ratio(547, 365);
  }

  &-652x367 {
    @include aspect-ratio(652, 367);
  }

  &-274x175 {
    @include aspect-ratio(274, 175);
  }
  
  &-167x42 {
    @include aspect-ratio(167, 42);
  }

  &-740x414 {
    @include aspect-ratio(740, 414);
  }
  
  &-335x261 {
    @include aspect-ratio(335, 261);
  }

  &-1366x450 {
    @include aspect-ratio(1366, 450);
  }

  &-1366x568 {
    @include aspect-ratio(1366, 568);
  }
  
  &-840x521 {
    @include aspect-ratio(840, 521);
  }

  &-1126x617 {
    @include aspect-ratio(1126, 617);
  }

  &-161x61 {
    @include aspect-ratio(161, 61);
  }
}
