.t-divergences {
  background: url('~assets/images/divergences/bg_bottom.png') no-repeat center bottom / contain;
  padding-bottom: rem(264);
  @include desktop-down {
    padding-bottom: rem(190);
  }
  @include tablet-down {
    padding-bottom: rem(140);
  }
  @include mobile-down {
    padding-bottom: rem(120);
  }

  &_heading {
    display: flex;
    justify-content: center;
  }

  &_content {
    display: flex;
    flex-wrap: wrap;
    margin: rem(40) rem(-17.5) 0;
    @include tablet-down {
      margin: rem(26) rem(-10) 0;
    }
    @include mobile-down {
      flex-direction: column-reverse;
    }
  }

  &_right {
    align-items: center;
    display: flex;
    flex: 0 0 calc(762 / (1366 - 120) * 100%);
    max-width: calc(762 / (1366 - 120) * 100%);
    padding: 0 rem(17.5);
    @include tablet-down {
      flex: 0 0 45%;
      max-width: 45%;
      padding: 0 rem(10);
    }
    @include mobile-down {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &_carousel-right {
    width: 100%;
  }

  &_left {
    align-items: center;
    display: flex;
    flex: 0 0 calc(100% - (762 / (1366 - 120) * 100%));
    max-width: calc(100% - (762 / (1366 - 120) * 100%));
    padding: 0 rem(17.5);
    @include tablet-down {
      flex: 0 0 55%;
      max-width: 55%;
      padding: 0 rem(10);
    }
    @include mobile-down {
      flex: 0 0 100%;
      margin-top: rem(20);
      max-width: 100%;
    }
  }

  &_carousel-left {
    width: 100%;

    .slick-arrow {
      top: 100%;
      transform: translateY(calc(-50% - 12px));
    }
  }

  &_card {
    &_branch {
      margin-bottom: rem(30);
      max-width: rem(126);
      @include tablet-down {
        margin-bottom: rem(16);
      }
      @include mobile-down {
        margin-bottom: rem(9);
      }
    }

    &_title {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;

      .a-heading {
        @include text-overflow(1);
        @include mobile-down {
          @include text-overflow(2);
        }
      }
    }

    &_part {
      flex-shrink: 0;
      margin-left: rem(10);

      span {
        font-size: rem(16);
        font-weight: normal;
        letter-spacing: 0.005em;
        @include mobile-down {
          font-size: rem(12);
        }
      }
    }

    &_description {
      margin-top: rem(12);
    }

    &_link {
      margin-top: rem(34);
    }
  }
}
