@mixin location-card ($top: 0, $left: 0) {
  left: $left;
  opacity: 0;
  position: absolute;
  top: $top;
  transition: all $transition ease-in-out;
  visibility: hidden;
}

.o-locationmap {
  background-color: $white;
  position: relative;
  $root: &;

  &_tropicana {
    @include location-card(24%, 59%);
    @include tablet-down {
      top: 12%; 
    }
  }

  &_morito {
    @include location-card(27%, 56.5%);
    @include tablet-down {
      top: 16%; 
    }
  }

  &_wonderland {
    @include location-card(32%, 49.5%);
    @include tablet-down {
      top: 20%; 
    }
  }

  &_habana {
    @include location-card(33%, 46.5%);
    @include tablet-down {
      top: 21%; 
    }
  }

  &_card {
    &.active {
      opacity: 1;
      visibility: visible;
    }
    width: rem(256);

    @include desktop-down {
      width: rem(180);

    }
    @include mobile-down {
      width: rem(93);
    }
  }

  &_map {
    position: relative;
    @include mobile-down {
      margin-bottom: rem(-6);
    }

    &.page {
      margin-top: 0;
    }

    svg {
      width: 100%;
    }

    &_animate {
      animation-direction: alternate;
      animation-iteration-count: infinite;
      transform-box: fill-box;
      transform-origin: center center;
    }

    &_marker {
      animation-duration: 0.7s;
      animation-name: fadeInBlur;
      cursor: pointer;
    }

    &_buildings {
      animation-duration: 0.4s;
      animation-name: beatSmall;
    }

    &_strokeline {
      animation: move 0.5s linear infinite;
      animation-fill-mode: forwards;
      stroke-dasharray: 5;
      stroke-dashoffset: 5;
    }

    &_line {
      animation-duration: 0.6s;
      animation-name: fadeInBlurs;
    }

    &_airplane {
      animation-duration: 1s;
      animation-name: animationFrames;
    }

    img {
      width: 100%;
    }
  }
}
