.a-text {
  $root: &;
  color: $dim-gray;
  font-weight: 400;
  margin: 0;
  @include font-base(16, 24);
  @include mobile-down {
    @include font-base(14, 20);
  }

  &-48x56 {
    @include font-base(48, 56);
    @include tablet-down {
      @include font-base(32, 48);
    }
    @include mobile-down {
      @include font-base(24, 32);
    }
  }

  &-32x48 {
    @include font-base(32, 48);
    @include tablet-down {
      @include font-base(24, 32);
    }
    @include mobile-down {
      @include font-base(18, 24);
    }
  }

  &-20x32 {
    @include font-base(20, 32);
    &#{$root}-xs {
      @include tablet-down {
        @include font-base(18, 22);
      }
      @include mobile-down {
        @include font-base(12, 20);
      }
    }
    &#{$root}-sm {
      @include tablet-down {
        @include font-base(18, 22);
      }
      @include mobile-down {
        @include font-base(16, 24);
      }
    }
    &#{$root}-md {
      @include tablet-down {
        @include font-base(18, 22);
      }
      @include mobile-down {
        @include font-base(14, 20);
      }
    }
  }

  &-20x24 {
    @include font-base(20, 24);
    @include tablet-down {
      @include font-base(18, 22);
    }
    @include mobile-down {
      @include font-base(16, 24);
    }
  }

  &-16x19 {
    @include font-base(16, 19);
    @include tablet-down {
      @include font-base(12, 14);
    }
    @include mobile-down {
      @include font-base(7, 8);
    }
  }

  &-14x21 {
    @include font-base(14, 21);
  }

  &-24x24 {
    @include font-base(24, 24);
  }

  &-48x24 {
    @include font-base(48, 24);
  }

  &-40x60 {
    @include font-base(40, 60);
    @include tablet-down {
      @include font-base(24, 40);
    }
    @include mobile-down {
      @include font-base(20, 30);
    }
  }
  
  &-12x21 {
    @include font-base(12, 21);
  }

  @include style-letter-spacing();
  @include style-color();
  @include style-font-weight();
  @include style-general();
  @include style-font-family();
}
