.a-text {
  color: $dim-gray;
  font-weight: 400;
  margin: 0;
  @include font-base(16, 24);
  @include mobile-down {
    @include font-base(14, 20);
  }

  &-12x18 {
    @include font-base(12, 18);
  }

  &-11x18 {
    @include font-base(11, 18);
  }

  &-14x21 {
    @include font-base(14, 21);
  }

  &-18x24 {
    @include font-base(18, 24);
    @include small-mobile {
      @include font-base(14, 20);
    }
  }

  &-18x27 {
    @include font-base(18, 27);
    @include small-mobile {
      @include font-base(14, 20);
    }
  }

  &-20x30 {
    @include font-base(20, 30);
    @include small-mobile {
      @include font-base(18, 27);
    }
  }

  &-22x32 {
    @include font-base(22, 32);
    @include small-mobile {
      @include font-base(20, 30);
    }
  }

  &-22x36 {
    @include font-base(22, 36);
    @include small-mobile {
      @include font-base(20, 30);
    }
  }

  &-24x36 {
    @include font-base(24, 36);
    @include mobile-down {
      @include font-base(20, 28);
    }
  }

  &-20x36 {
    @include font-base(20, 36);
  }

  &-12x21 {
    @include font-base(12, 21);
  }

  @include style-letter-spacing();
  @include style-color();
  @include style-font-weight();
  @include style-general();
  @include style-font-family();
}
