@mixin icon-image($url: '', $width: 24, $height: 24) {
  background-image: url($url);
  height: rem($height);
  width: rem($width);
}

.a-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;

  &-search {
    @include icon-image('~assets/icons/ic_search.svg', 16, 16);
  }
  
  &-loadingWhite {
    @include icon-image('~assets/icons/ic_loading_white.svg');
  }
  
  &-marker {
    @include icon-image('~assets/icons/ic_marker.svg', 49, 70);
    @include mobile-down {
      height: rem(55);
      width: rem(34);
    }
  }

  &-clock {
    @include icon-image('~assets/icons/ic_clock.svg', 16, 16);
  }
  
  &-arrowPrevArsenic {
    @include icon-image('~assets/icons/ic_arrow_prev_arsenic.svg', 44, 44);
  }
}
