.m-card {
  box-shadow: 0 rem(4) rem(8) $black-overlay01;

  &_content {
    background-color: $white;
    padding: rem(16) rem(16) rem(24);
  }

  &_spacer {
    margin-top: rem(8);
    @include mobile-down {
      margin-top: rem(4);
    }
  }
}
