.t-news {
  &_title {
    display: flex;
    justify-content: center;
    margin-bottom: rem(32);

    @include mobile-down {
      margin-bottom: rem(24);
    }
  }

  &_list {
    margin-top: rem(56);

    @include mobile-down {
      margin-top: rem(36);
    }

    &_wrapper {
      @include adjust-flex(flex-start, stretch);
      flex-wrap: wrap;
      row-gap: rem(27);
    }

    &_item {
      flex: 0 0 calc(100% / 3);
      padding: 0 rem(16);
      @include tablet-down {
        flex: 0 0 calc(100% / 2);
      }
      @include mobile-down {
        flex: 0 0 100%;
        padding: 0 rem(12);
      }
    }
  }

  &_button {
    margin: rem(48) auto 0 auto;
    // margin-top: rem(48);
    width: rem(193);
  }
}
