.t-geolocationhome {
  margin-top: rem(12);

  &_title {
    display: flex;
    justify-content: center;
    margin-bottom: rem(40);

    @include mobile-down {
      margin-bottom: rem(16);
    }
  }

  &_desc {
    display: flex;
    justify-content: center;
    margin-bottom: rem(28);

    @include mobile-down {
      margin-bottom: rem(20);
      padding: 0 rem(10);
    }

    &_wrap {
      max-width: rem(729);
    }
  }

  .o-locationmap_active {
    min-width: 13%;
  }
}
