html,
body {
  font-family: $font-iciel;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; //issue click in mobile flash background highligh
}

button {
  &:focus {
    outline: none;
  }
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
}

[role='button'],
button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input {
  word-break: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.hidden-animation {
  visibility: hidden;
}

.overflow-hidden {
  height: 100vh;
}

.s-wrap {
  padding-bottom: rem(100);
  padding-top: rem(56);
  @include mobile-down {
    padding-bottom: rem(64);
    padding-top: rem(32);
  }
}

.s-donut {
  overflow: hidden;
  position: relative;

  &::before {
    background-image: url('~assets/images/donut.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: rem(824);
    position: absolute;
    right: 0;
    top: -24%;
    width: rem(824);
    @include desktop-down {
      height: rem(500);
      top: -11%;
      width: rem(500);
    }
    @include tablet-down {
      height: rem(420);
      top: -7%;
      width: rem(420);
    }
    @include mobile-down {
      height: rem(240);
      top: -3%;
      width: rem(240);
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
