// fonts
$font-path: '~assets/fonts/';
$font-iciel: 'iCiel Gotham',
  serif;
// transition
$transition: 0.25s;
$transition-long: 0.4s;

// z-index
$z-header: 100;
$z-modal: 101;
$z-language: 99;
$z-menu-toggle: 102;
