@mixin px ($pl, $pr) {
  padding-left: rem($pl);
  padding-right: rem($pr);
}

@mixin mx ($ml, $mr) {
  margin-left: rem($ml);
  margin-right: rem($mr);
}

.o-header {
  $root: &;
  background: $linear-gradient;
  left: 0;
  padding-bottom: rem(17);
  padding-top: rem(17);
  position: fixed;
  right: 0;
  top: 0;
  transition: $transition-long ease;
  z-index: $z-header;

  &-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include tablet-down {
      justify-content: center;
    }
  }

  &-scroll {
    background: $white;
    box-shadow: 0 rem(4) rem(10) $white-overlay01;
  }

  &-logo {
    min-width: rem(150);

    .a-image {
      transition: $transition-long ease;
    }

    // #{$root}-scroll & {
    //   .a-image {
    //     background-image: url('~assets/images/logo/nova-world-blue.svg') !important;
    //     background-size: contain;
    //   }
    // }
  }

  &-hamburger {
    @include reset-button();
    background-color: transparent;
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    span {
      background-color: $white;
      display: block;
      height: rem(2);
      margin-bottom: rem(4);
      position: relative;
      transition: $transition-long ease;
      width: rem(24);

      &:nth-child(1) {
        transform-origin: left;
      }

      &:nth-child(2) {
        transform-origin: center;
      }

      &:nth-child(3) {
        transform-origin: bottom;
      }

      #{$root}-scroll & {
        background-color: $cyan-cobalt-blue;
      }
    }

    @include tablet-down {
      display: block;
    }
  }

  &-menu {
    align-items: center;
    display: flex;

    @include tablet-down {
      align-items: flex-start;
      background-color: $white;
      flex-direction: column;
      height: 100vh;
      overflow-y: auto;
      padding: rem(24);
      position: fixed;
      right: -100%;
      top: 0;
      transition: right $transition-long linear;
      width: 100%;
      z-index: $z-menu-toggle;

      #{$root}-open & {
        right: 0;
      }
    }
  }

  &-sm {
    @include tablet-up {
      display: none;
    }

    order: 1;
    position: relative;
    width: 100%;

    &-logo {
      margin: auto;
      width: rem(150);
    }

    &-close {
      @include reset-button();
      background-color: transparent;
      padding: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      span {
        background-color: $cyan-cobalt-blue;
        display: block;
        height: rem(2);
        margin-bottom: rem(4);
        position: relative;
        transition: $transition-long ease;
        width: rem(24);

        &:nth-child(1) {
          left: 0;
          top: -1px;
          transform: rotate(45deg);
          transform-origin: left;
        }

        &:nth-child(2) {
          right: 3px;
          top: 1px;
          transform: rotate(315deg);
          transform-origin: bottom;
        }
      }

    }
  }

  &-nav {
    @include list-style-none();
    display: flex;
    @include mx(-20, -20);

    @include break-max(1365px) {
      @include mx(-10, -10);
    }

    @include desktop-down {
      @include mx(0, -16);
    }

    @include tablet-down {
      display: block;
      order: 3;
      width: 100%;
    }

    &-item {
      @include px(20, 20);
      margin-bottom: 0;

      @include break-max(1365px) {
        @include px(10, 10);
      }

      @include desktop-down {
        @include px(0, 10);
      }

      @include tablet-down {
        margin-top: rem(32);

        &:not(:first-of-type) {
          margin-top: rem(24);
        }
      }
    }

    &-child {
      cursor: pointer;
      position: relative;

      #{$root}-link {
        align-items: center;
        display: flex;

        @include tablet-down {
          justify-content: space-between;
          width: 100%;
        }
  
        &::after {
          background-image: url('~assets/icons/ic_dropdown_white.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
          display: block;
          height: rem(5);
          margin-left: rem(6);
          transition: all $transition-long linear;
          width: rem(10);
  
          #{$root}-scroll & {
            background-image: url('~assets/icons/ic_dropdown_blue.svg');
          }
  
          #{$root}-open & {
            background-image: url('~assets/icons/ic_dropdown_blue.svg');
          }
        }
      }
    }
    
    &-sub {
      max-height: 0;
      opacity: 0;
      transition: $transition linear;
      visibility: hidden;
      @include list-style-none();
      @include tablet-up {
        backdrop-filter: blur(rem(113));
        background-color: $white;
        border-radius: rem(5);
        box-shadow: 0 rem(4) rem(16) $black-overlay01;
        margin-top: rem(12);
        position: absolute;
        right: 0;
        top: 100%;
        width: rem(220);
      }
    }

    &-show {
      #{$root}-link::after {
        transform: rotate(180deg);
      }
      #{$root}-nav-sub {
        max-height: rem(176);
        opacity: 1;
        visibility: visible;
      }
    }

    &-subitem {
      @include tablet-down {
        padding-left: rem(16);
        padding-top: rem(24);

        &:last-of-type {
          padding-bottom: rem(24);
        }
      }
    }
    
    &-sublink {
      color: $cyan-cobalt-blue;
      @include font-base(14, 20);
      @include tablet-up {
        display: block;
        padding: rem(12) rem(16);
        width: 100%;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }

  &-divider {
    @include tablet-up {
      @include mx(40, 26);
      background-color: $white;
      height: rem(20);
      width: 1px;

      #{$root}-scroll & {
        background-color: $cyan-cobalt-blue;
      }

      @include break-max(1365px) {
        @include mx(20, 13);
      }
    }
  }

  &-link {
    color: $white;
    @include font-base(14, 20);

    &.active {
      font-weight: 700;
    }

    #{$root}-scroll & {
      color: $cyan-cobalt-blue;
    }

    #{$root}-open & {
      color: $cyan-cobalt-blue;
    }
  }

  &-option {
    @include list-style-none();
    @include mx(-12, -12);
    align-items: center;
    display: flex;
    position: relative;

    @include break-max(1365px) {
      @include mx(-6, -6);
    }

    @include tablet-down {
      margin-top: rem(40);
      order: 2;
      width: 100%;
    }

    &-item {
      @include px(12, 12);
      margin-bottom: 0;

      @include break-max(1365px) {
        @include px(6, 6);
      }

      @include tablet-down {
        &:first-of-type {
          flex-grow: 1;
        }
      }
    }

    &-button {
      @include reset-button();
      @include adjust-flex();
      background-color: $white;
      border-radius: 50%;
      height: rem(28);
      padding: 0;
      width: rem(28);

      #{$root}-scroll & {
        background-color: $white-smoke;
      }

      #{$root}-open & {
        background-color: $white-smoke;
      }
      @include tablet-down {
        display: none;
      }
    }
  }

  &-search {
    position: relative;

    &-input {
      @include tablet-up {
        display: none;
      }

      background-color: $white-smoke;
      border: 0;
      border-radius: rem(20);
      color: $cyan-cobalt-blue;
      height: rem(44);
      outline: 0;
      padding-left: rem(16);
      padding-right: rem(48);
      width: 100%;
      @include font-base(14, 20);

      &::placeholder {
        color: $sliver-chalice;
      }
    }

    &-button {
      @include reset-button();
      @include adjust-flex();
      background-color: $white;
      border-radius: 50%;
      height: rem(28);
      padding: 0;
      width: rem(28);

      #{$root}-scroll & {
        background-color: $white-smoke;
      }

      #{$root}-open & {
        background-color: $white-smoke;
      }

      @include tablet-down {
        background-color: transparent;
        position: absolute;
        right: rem(16);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &-language {
    position: relative;

    &-label {
      align-items: center;
      background-color: transparent;
      color: $white;
      display: flex;
      font-weight: 500;
      padding: 0;
      @include font-base(14, 20);
      @include reset-button();

      #{$root}-scroll & {
        color: $cyan-cobalt-blue;
      }

      #{$root}-open & {
        color: $cyan-cobalt-blue;
      }
    }

    &-dropdown {
      display: inline-block;
      height: rem(5);
      margin-left: rem(7);
      position: relative;
      width: rem(10);

      &::before {
        background-image: url('~assets/icons/ic_dropdown_white.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        height: 100%;
        position: absolute;
        transition: all $transition-long linear;
        width: 100%;

        #{$root}-scroll & {
          background-image: url('~assets/icons/ic_dropdown_blue.svg');
        }

        #{$root}-open & {
          background-image: url('~assets/icons/ic_dropdown_blue.svg');
        }
      }

      &.active::before {
        transform: rotate(180deg);
      }
    }

    &-list {
      @include list-style-none();
      backdrop-filter: blur(rem(113));
      background-color: $white;
      border-radius: rem(5);
      box-shadow: 0 rem(4) rem(16) $black-overlay01;
      opacity: 0;
      padding: rem(8);
      position: absolute;
      right: 0;
      text-align: center;
      top: rem(25);
      transition: all $transition linear;
      visibility: hidden;
      width: rem(60);
      z-index: $z-language;

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }

    &-item {
      &:not(:first-of-type) {
        margin-top: rem(5);
      }
    }

    &-button {
      background-color: transparent;
      color: $black;
      font-family: inherit;
      font-weight: 500;
      padding: 0;
      @include reset-button();
      @include font-base(14, 20);

      &.active {
        font-weight: 700;
      }

      #{$root}-scroll & {
        color: $cyan-cobalt-blue;
      }

      #{$root}-open & {
        color: $cyan-cobalt-blue;
      }
    }
  }

  &-suggest {
    background-color: $white;
    border-radius: rem(10);
    box-shadow: 0 rem(4) rem(4) $black-overlay02;
    max-height: 0;
    min-width: rem(420);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: calc(100% + 33px);
    transition: $transition linear;

    @include tablet-down {
      box-shadow: none;
      max-height: 100%;
      min-width: initial;
      opacity: 1;
      pointer-events: initial;
      position: initial;
    }

    &-content {
      padding: rem(16);
      @include tablet-down {
        padding: 0;
      }
    }

    &-expand {
      max-height: rem(300);
      opacity: 1;
      pointer-events: initial;
    }

    &-driver {
      background-color: $platinum1;
      height: 1px;
      margin-top: rem(24);
      @include tablet-down {
        display: none;
      }
    }

    &-list {
      max-height: rem(120);
      overflow: auto;
      @include scroll-bars(8);
      @include tablet-down {
        background-color: $white-smoke;
        border-radius: rem(10);
        left: rem(6);
        max-height: 0;
        max-width: 100%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: rem(6);
        top: calc(100% + 10px);
        transition: $transition linear;
        width: 100%;
      }

      &-expand {
        @include tablet-down {
          max-height: rem(220);
          opacity: 1;
          pointer-events: initial;
        }
      }
    }

    &-item {
      list-style: none;
      margin-top: rem(16);
      @include tablet-down {
        margin-top: 0;
        padding: rem(13) rem(5) rem(10) rem(15);
      }
    }

    &-link {
      color: $cyan-cobalt-blue;
      @include font-base(16, 24);
      @include tablet-down {
        @include font-base(14, 20);
      }
    }
  }
}

.a-input-search {
  position: relative;
  $root: &;

  &_input {
    background-color: $white-smoke;
    border: 0;
    border-radius: rem(20);
    color: $cyan-cobalt-blue;
    height: rem(44);
    outline: 0;
    padding-left: rem(16);
    padding-right: rem(48);
    width: 100%;
    @include font-base(14, 20);

    &::placeholder {
      color: $sliver-chalice;
    }

    &:focus {
      border: 1px solid $cyan-cobalt-blue;
    }
  }

  &_button {
    @include reset-button();
    @include adjust-flex();
    background-color: transparent;
    border-radius: 50%;
    height: rem(28);
    padding: 0;
    position: absolute;
    right: rem(16);
    top: 50%;
    transform: translateY(-50%);
    width: rem(28);
  }
}
