.o-footer {
  $root: &;
  background: linear-gradient(180deg, #10431f 0%, rgba(36, 85, 163, 0.55) 104.83%),
    url('~assets/images/footer/bg_footer.png') no-repeat center / cover;
  margin-top: -1px;
  position: relative;
  z-index: 4;

  &_form {
    left: 0;
    position: absolute;
    top: -20%;
    width: 100%;
    @include tablet-down {
      position: relative;
    }
  }

  &_top {
    padding-top: rem(258);
    @include desktop-down {
      padding-top: rem(240);
    }
    @include tablet-down {
      padding-top: rem(60);
    }
    @include mobile-down {
      padding-top: rem(40);
    }
  }

  &_socials {
    display: flex;
    justify-content: center;

    &_item {
      max-width: rem(52);
      width: 100%;

      &:first-child {
        margin-right: rem(52);
      }

    }
  }

  &_ministryImage {
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(52);
    max-width: rem(161);
    @include mobile-down {
      margin-top: rem(30);
    }
  }

  &_branch {
    margin-top: rem(52);
    max-width: rem(115);
    @include mobile-down {
      max-width: rem(90);
      margin: rem(52) auto 0;
    }
  }

  &_content {
    display: flex;
    flex-wrap: wrap;
    margin: rem(30) rem(-16) 0;
    @include tablet-down {
      margin: rem(30) rem(-10) 0;
    }
    @include mobile-down {
      margin: rem(14) rem(-10) 0;
    }

    &_left,
    &_right {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 rem(16);
      @include tablet-down {
        padding: 0 rem(10);
      }
      @include mobile-down {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .m-address-item {
        margin-top: rem(10);
        @include mobile-down {
          text-align: center;
        }
      }
    }
  }

  &_bottom {
    align-items: center;
    background-color: $cool-black;
    display: flex;
    height: rem(32);
    justify-content: center;
    margin-top: rem(46);
    @include mobile-down {
      margin-top: rem(28);
    }
  }
}

.o-footeroverlay {
  background: #0f3807;
  padding-bottom: 329 / 1366 * 100%;
  position: relative;

  &::before {
    background: linear-gradient(180deg, #1b5307 0%, rgba(15, 73, 8, 0.33) 32.1%, rgba(12, 73, 8, 0.53) 68.84%, rgba(6, 73, 9, 0) 119.31%);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  &::after {
    background: linear-gradient(180deg, #1b5307 0%, rgba(15, 73, 8, 0.33) 32.1%, rgba(12, 73, 8, 0.53) 68.84%, rgba(6, 73, 9, 0) 119.31%), 
      url('~assets/images/footer/overlay-footer.png') no-repeat center / cover;
    content: '';
    left: 0;
    padding-bottom: 400 / 1366 * 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}
