.t-eventpopup {
  &_modal {
    .o-modal-container {
      border-radius: rem(4);
    }
  }

  &_wrapper {
    @include adjust-flex(flex-start, stretch);
    @include tablet-down {
      display: block;
    }
  }

  &_left {
    flex: 0 0 calc(668 / 1024 * 100%);
    max-width: calc(668 / 1024 * 100%);
    position: relative;
    @include tablet-down {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    &_img {
      cursor: pointer;
      margin: 0 auto;
      max-width: rem(52);

      .a-image {
        border-radius: rem(5);
      }
    }

    .o-carousel {
      @include tablet-up {
        .slick-list {
          max-height: rem(445);
        }
      }

      .slick-prev {
        left: calc(44 / 1366 * 100%);
      }
  
      .slick-next {
        right: calc(44 / 1366 * 100%);
      }
    }
  }

  &_content {
    padding: rem(52) rem(24) rem(24);

    @include tablet-down {
      padding: rem(36) rem(24) rem(24);
    }

    @include mobile-down {
      padding: rem(24) rem(16) rem(16);
    }

    &_title {
      margin-bottom: rem(24);
      margin-top: rem(12);
      max-height: rem(200);
      overflow-y: auto;
      @include scroll-bars(4);
    }

    .a-button {
      display: inline-block;
      width: auto;
    }
  }

  &_right {
    flex: 0 0 calc(356 / 1024 * 100%);
    @include tablet-down {
      flex: 0 0 100%;
    }
  }
}
