.a-textarea {
  $root: &;
  display: flex;
  flex-direction: column;// fix redundant px  

  textarea {
    background-color: $white;
    border: 1px solid $platinum;
    border-radius: rem(3);
    box-sizing: border-box;
    color: $raisin-black;
    font-family: inherit;
    font-weight: 400;
    min-height: rem(122);
    outline: 0;
    padding: rem(13) rem(16) rem(14);
    resize: none;
    transition: all $transition ease-in-out;
    width: 100%;
    @include font-base(14,24);

    &::placeholder {
      color: $raisin-black;
    }

    &:focus {
      border-color: $android-green;
    }

    &:disabled {
      background-color: $isabel-line;
      color: $raisin-black-overlay07;
    }
  }

  &-dark {
    textarea {
      background-color: transparent;
      border-color: $white;
      color: $white;

      &::placeholder {
        color: $platinum2-overlay05;
        font-weight: bold;
      }
    }
  }

  &-error {
    position: relative;

    // textarea {
    //   border-color: $persimmon;
    //   color: $persimmon;

    //   &::placeholder {
    //     color: $persimmon;
    //   }
    // }

    #{$root}_message {
      color: $persimmon;
      left: 0;
      margin: 0;
      position: absolute;
      top: calc(100% + 3px);
      @include font-base(12, 14);
      @include text-overflow(1);
    }
  }
}
