.m-expcard {
  $root: &;
  cursor: pointer;

  .o-carousel_dots {
    align-items: center;
    bottom: rem(8);
    display: flex !important;
    flex-wrap: nowrap;
    left: 50%;
    min-height: rem(20);
    overflow: auto;
    transform: translateX(-50%);
    width: auto;

    &::-webkit-scrollbar {
      display: none;
    }
    @include mobile-down {
      bottom: rem(4);
    }
  }

  .slick-slide {
    margin-bottom: -5px;
    outline: none;
  }

  &_item-carousel {
    position: relative;

    &.active {
      animation: zoomSlide 0.6s ease-in-out;
    }
  }

  &_image {
    position: relative;
  }


  &-wrap {
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    padding: rem(24);
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    background: $linear-gradient9;
    @include desktop-down {
      padding-bottom: rem(48);
    }
    @include tablet-down {
      padding-bottom: rem(40);
    }
    @include small-mobile {
      padding: rem(28);
    }
  }

  &_content {  
    &_title {
      @include text-overflow(2);
    }

    &_location {
      margin-top: rem(5);
      @include text-overflow(2);
      @include mobile-down {
        margin-top: 0;
      }
    }
  }
}

@keyframes zoomSlide {
  0% {
    transform: scale(1);
  }

  99% {
    transform: scale(0.3);
  }

  100% {
    transform: scale(1);
  }
}
