.m-experience-journey-card {
  position: relative;
  $root: &;

  &_image {
    max-width: calc(840 / 1126 * 100%);
    width: 100%;
  }

  &_title {
    position: absolute;
  }

  &_info {
    max-width: calc(448 / 1126 * 100%);
    position: absolute;
    width: 100%;
  }
  
  &-right {
    #{$root}_title {
      left: calc(643 / 1126 * 100%);
      top: calc(153 / 521 * 100%);
      @include desktop-down {
        top: calc(50 / 521 * 100%);
      }
      @include tablet-down {
        left: calc(343 / 1126 * 100%);
      }
    }

    #{$root}_info {
      left: calc(643 / 1126 * 100%);
      top: calc(153 / 521 * 100% + 56px);
      @include desktop-down {
        top: calc(50 / 521 * 100% + 56px);
      }
      @include tablet-down {
        left: calc(343 / 1126 * 100%);
        max-width: calc(748 / 1126 * 100%);
        top: calc(50 / 521 * 100% + 40px);
      }
    }
  }

}
