.a-divider {
  background: linear-gradient(90deg, $sea-green 9.69%, $cyan-cobalt-blue 10.12%, $spiro-disco-ball 22.27%, $picton-blue 43.94%, $cerise-pink 46.25%, $deep-lilac 66.64%, $topaz 67.69%, $dark-tangerine 88.29%, $cyan-cobalt-blue2 90.91%, $cyan-cobalt-blue2 101.84%);
  height: rem(4);
  margin-top: rem(10);
  transform: rotate(-180deg);
  width: 100%;
}
