.t-expjourney {
  background: url('~assets/images/bg_expjourney.png');
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;

  &::before {
    background: $linear-gradient6;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &_wrap {
    padding: rem(89) 0 rem(212);
    @include mobile-down {
      margin-top: rem(14);
      padding: rem(50) 0 rem(112);
    }
  }

  &_title {
    display: flex;
    justify-content: center;
    margin-bottom: rem(85);
    @include mobile-down {
      margin-bottom: rem(24);
    }
  }

  &_gallery {
    &_item {
      padding: rem(15);

      @include tablet-down {
        padding: rem(7);
      }
    }
  }

  .slick-next {
    bottom: rem(-50);
    top: auto;
    transform: none;
  }

  .large.next {
    left: rem(10);
  }

  .slick-list {
    @include small-mobile {
      margin-left: calc(150 / 1366 * 100%);
      padding: 0 calc(78 / 1366 * 100%) 0 0 !important;
    }
  }
}
