.p-search {
  .s-content {
    background-color: $white;

    .title {
      display: flex;
      justify-content: center;
    }

    .input {
      margin-top: rem(40);
      max-width: rem(644);
    }

    .description {
      margin-top: rem(24);
      @include tablet-down {
        margin-top: rem(16);
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      margin: rem(32) rem(-16) 0;
      @include tablet-down {
        margin: rem(24) rem(-8) 0;
      }
    }

    .item {
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3);
      padding: 0 rem(16) rem(24);

      .m-card {
        height: 100%;
      }
      
      @include tablet-down {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 rem(8) rem(16);
      }

      @include mobile-down {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
