.m-newscard {
  $root: &;
  position: relative;

  &_content {
    &_title {
      margin-top: rem(27);
      @include text-overflow(2);
      @include desktop-down {
        margin-top: rem(16);
      }
    }

    &_desc {
      margin: rem(16) 0 rem(40);
      @include text-overflow(3);
      @include desktop-down {
        margin: rem(14) 0 rem(14);
      }
      @include small-mobile {
        display: none;
      }
    }

    &_updatedate {
      @include small-mobile {
        display: none;
      }
    }

    #{$root}-horizontal & {
      bottom: 0;
      left: 0;
      padding: rem(16);
      position: absolute;
      right: 0;
      transition: $transition ease;
      width: 100%;
      z-index: 2;

      @include small-mobile {
        max-width: 100%;
      }
    }
    
    #{$root}-vertical & {
      @include small-mobile {
        bottom: 0;
        left: 0;
        max-width: 100%;
        padding: rem(16);
        position: absolute;
        right: 0;
        transition: $transition ease;
        width: 100%;
        z-index: 2;
      }
    }
  }

  &_image {
    overflow: hidden;
    position: relative;

    &::before {
      background-color: rgba($white, 0.3);
      content: '';
      height: 200%;
      left: 0;
      position: absolute;
      top: -20%;
      transform: translateX(-100%);
      transition: $transition-long ease;
      width: 50%;
      z-index: $z-1;
    }

    @include small-mobile {
      .a-image {
        @include aspect-ratio(450, 248);
      }
    }
  }

  &:hover {
    #{$root}_image {
      &::before {
        transform: translateX(300%) rotate(45deg);
      }
    }

    #{$root}_content {
      bottom: rem(20);
    }
  }
}
