.t-form-contact {
  &_top {
    display: flex;
    flex-wrap: wrap;
  }

  &_left {
    // background-color: $castleton-green;
    flex: 0 0 48.5%;
    max-width: 48.5%;
    padding: rem(42) 0 rem(32);
    width: 100%;
   
    @include tablet-down {
      flex: 0 0 100%;
      max-width: 100%;
      padding: rem(16) 0;
    }

  }

  &_listAddress {
    margin-top: rem(24);
    max-height: rem(470);
    overflow: auto;
    padding: 0 rem(32);
    // @include scroll-bars(8);
    @include tablet-down {
      max-height: 100%;
      padding: 0 rem(16);
    }
  }

  &_right {
    // background: url('~assets/images/bg_form.png'), $dark-green2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 51.5%;
    max-width: 51.5%;
    width: 100%;
    @include tablet-down {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &_bottom {
    height: 0;
    padding-bottom: (633.38 / 1126)* 100%;
    position: relative;

    @include small-mobile {
      padding-bottom: 100%;
    }
  }

  &_map {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

}
